* {
  --range-input-background: none;
  --range-input-active-track: rgb(255, 111, 0);
  --range-input-inactive-track: rgb(53, 53, 53);
  --range-input-thumb: orangered;
}
div.color-controller {
  display: flex;
  flex-direction: column;
  padding: 1px;
  max-width: 50%;
}

div.color-controller > label {
  display: flex;
  flex-direction: row;
  font-size: x-small;
  align-items: center;
}
div.color-controller-inputs-set {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: x-small;
  align-items: center;
}
div.hex-inputs {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: x-small;
  align-items: center;
}
div.hex {
  display: flex;
  flex-direction: column;
  width: 75%;
  z-index: 10;

}
div.a-hex {
  display: flex;
  flex-direction: column;
  width: 20%;
  z-index: 20;

}
input.hex {
  width: 90%;
  padding: 0;
  margin-top: 2px;
}
input.a-hex {
  width: 90%;
  padding: 0;
  margin-top: 2px;
  text-align: center;
  color: black;
}


button.input-submit {
  margin-top: 5px;
  background-color: orangered;
  color: black;
  border: 2px solid black;
  border-radius: 10%;
}
button.input-submit:hover {
  background-color: yellow;
}
button.input-submit:active {
  background-color: black;
  color: white;
}

fieldset.color-controller-fieldset {
  font-size: smaller;
  margin-bottom: 1vh;
  border-color: rgb(159, 42, 0);
  border-radius: 3%;
  border: 1px solid orangered;
}
legend.color-controller-legend {
  font-size: smaller;
  margin-bottom: 1vh;
}

input[name="hex"] {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  div.color-controller-title {
    font-size: x-small;
  }
  div.color-controller > label {
    display: flex;
    gap: 1vw;
    font-size: x-small;
    align-items: center;
  }
}

/* range input */

input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: none;
}
input[type="range"]:focus {
  outline: none;
}

input[type="number"] {
  width: 20px;
  margin: 0;
  padding: 0;
  font-size: x-small;
}
/* chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}
input[type="range"] {
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--range-input-inactive-track);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-progress-value {
  background-color: var(--range-input-active-track);
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 10px;
  border-radius: 3px;
  background: var(--range-input-thumb);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: yellow;
}
input[type="range"]::-webkit-slider-thumb:active {
  background: yellow;
}

/* input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--range-input-inactive-track);
} */

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--range-input-inactive-track);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-progress {
  height: 5px;
  background-color: var(--range-input-active-track);
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 10px;
  border-radius: 3px;
  background: var(--range-input-thumb);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb:hover {
  background: yellow;
}
input[type="range"]::-moz-range-thumb:active {
  background: yellow;
}

/**Edge */
@supports (-ms-track: auto) {
  input[type="range"] {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
}
@supports (-ms-fill-lower: none) {
  input[type="range"] {
    background: var(--range-input-active-track);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
}
@supports (-ms-fill-upper: auto) {
  input[type="range"] {
    background: var(--range-input-inactive-track);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
}
/* IE */
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--range-input-active-track);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: var(--range-input-inactive-track);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 10px;
  border-radius: 3px;
  background: var(--range-input-thumb);
  cursor: pointer;
}
input[type="range"]::-ms-thumb:hover {
  background: yellow;
}
input[type="range"]::-ms-thumb:active {
  background: yellow;
}

div.color-mode-switcher {
  margin: auto;
  padding: 5px;
  width: 100%;
  text-align: right;
}

input[type="radio"] {
  height: 15px;
  accent-color: orangered;
}
