div.control-panel {
  display: flex;
  gap: 5px;
  margin-top: 3vh;
  background-color: rgb(206, 204, 204);
  padding: 10px 10px;
  border-radius: 5px;
  width: fit-content;
}


@media screen and (max-width: 1400px) {
  div.control-panel {
    display: flex;
    gap: 1vw;
    margin-top: 0;
    background-color: rgb(206, 204, 204);
    padding: 5px;
    border-radius: 5px;
  }
}
