
div.sample {
  width: auto;
  margin: 0 auto;
  height: fit-content;
  padding: 1vw;
  border-radius: 10px;
}

p.sample {
  font-size: small;
}
@media screen and (max-width: 1400px) {
  div.sample {
    width: 60%;
    height: fit-content;
    padding: 1vw;
  }
  
  p.sample {
    font-size: small;
  }
  
}
@media screen and (max-width: 800px) {
  div.sample {
    width: auto;
    height: fit-content;
    padding: 2vw;
  }
  
  p.sample {
    font-size: small;
  }
  
}
